@font-face {
	font-family: sneaker;
	src: url("Sneakers.ttf");
}

@font-face{
	font-family: vegetables;
	src: url("Vegetables.ttf");
}

@font-face {
	font-family: photo;
	src: url("Photographs.ttf");
}

@font-face{
	font-family:stone;
	src:url("Shutter Stone Standar.ttf");
}

.title{
	font-family: stone;
	text-align: center;
	font-size: 200px;
	padding-top: 0px;
	color:    #aed581   ;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
	text-align: center;
	display:inline-block;
    font-size: 75px;
    color: black;
}

li a {
	color: black;
    display: inline-block;
    padding: 40px;
    font-family: photo;
    text-decoration-style: none;
    text-decoration: none;
}

li a:hover{
	color:   #aed581 ;
}

li a:visited{
	text-decoration-style:  none;
}

